In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("news.csv")
df.head()
#1=fake
#0=real

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [3]:
df.shape

(20800, 5)

In [4]:
df.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [5]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [6]:
df=df.fillna('')

In [7]:
df["contained"]=df.author+' '+df.title
df.head()

,id,title,author,text,label,contained
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,Darrell Lucus House Dem Aide: We Didn’t Even S...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Consortiumnews.com Why the Truth Might Get You...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,Jessica Purkiss 15 Civilians Killed In Single ...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Howard Portnoy Iranian woman jailed for fictio...

In [8]:
df1=df.drop(["title","author","id","text"],axis="columns")
df1.head()

   label                                          contained
0      1  Darrell Lucus House Dem Aide: We Didn’t Even S...
1      0  Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2      1  Consortiumnews.com Why the Truth Might Get You...
3      1  Jessica Purkiss 15 Civilians Killed In Single ...
4      1  Howard Portnoy Iranian woman jailed for fictio...

In [9]:
x=df1.drop(["label"],axis="columns")
x.head()

                                           contained
0  Darrell Lucus House Dem Aide: We Didn’t Even S...
1  Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2  Consortiumnews.com Why the Truth Might Get You...
3  Jessica Purkiss 15 Civilians Killed In Single ...
4  Howard Portnoy Iranian woman jailed for fictio...

In [10]:
y=df1.label
y.head()

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [12]:
x_train.values

array([['AP Paris Attack Raises New Security Concerns Over Olympics - Breitbart'],
       ['Alexander Burns and Maggie Haberman Chris Christie Becomes Powerful Figure in Donald Trump Campaign - The New York Times'],
       ['TNUGA Re: Dem Group Files Complaint Against FBI For Interfering With Election'],
       ...,
       ['Editor The Path To Total Dictatorship: America’s “Shadow Government” And Its Silent Coup'],
       ['Maggie Haberman and Richard A. Oppel Jr. Donald Trump Criticizes Muslim Family of Slain U.S. Soldier, Drawing Ire - The New York Times'],
       [' Opps! German Magazine Uses ISIS Propaganda Video to Show All is Well in Mosul']],
      dtype=object)

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values.ravel())
x_train_count.toarray()[:40]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [14]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [15]:
news={
    "Robert Rich Idiot Who Destroyed Trump Hollywoo...",
    "Jerome Hudson Rapper T.I.: Trump a 'Poster Chi..."
}
news_pred=v.transform(news)
model.predict(news_pred)

array([1, 0], dtype=int64)